* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

.btn {
  border: none;
  padding: 0.3rem 1rem;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
}
